html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hiragino Sans', sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
    height: 120vh;
}

.header{
    position: fixed;
    z-index: 100;
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}

ul {
    padding-left: 1.2em;
}

li {
    margin-bottom: 6px;
    line-height: 1.6;
}

p {
    color: #89c3eb;
    font-size: .8em;
    text-align: right;
}